.btn {
    margin-top: 100px;
    border: 1px solid #339933 !important;
    color: #339933 !important;
    background: white;
}

.dropdown-menu>li>a:hover {
    background: #339933 !important;
    color: white !important;
}

.nav-tabs>li.active>a {
    border-bottom: 2px solid #339933 !important;
}